* {
  text-decoration: none;
  color: black;
}

.nav-bg-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.right-info {
  padding: 2px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.ul-list {
  list-style-type: none;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  padding: 20px;
}

.link-li {
  padding-right: 4px;
}
